*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins';
}

header{
    height: 100vh;
    background-image: url("../img/pexels-ruvim-miksanskiy-1438761.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.social{
    display: flex;
    gap: 10px;
}

.navbar{
    position: absolute;
    padding: 50px;
}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2rem;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 25px;
    padding-bottom: 3px;
    border-bottom: 0px solid #fdb417;
}

.active li:hover a{
    border-bottom: 2px solid #fdb417;
    color: #fdb417;
    font-weight: 600;
}

.navbar .menubar{
    display: none;
    position: absolute;
    top: 55px;
    right: 50px;
    width: 35px;
}

p{
    color: white;
}

@media screen and (max-width: 1000px){
    /* header{
        width: 100%;
        height: 100vh;
        background-image: url("../img/pexels-ruvim-miksanskiy-1438761.jpg");
        background-repeat: no-repeat;
    } */
    
    .navbar .nav-links ul li a{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1000px) {
    header{
        width: 100%;
        height: 100vh;
        background-image: url("../img/pexels-ruvim-miksanskiy-1438761.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar .logo{
        position: absolute;
        top: 40px;
        left: 50px;
    }

    .navbar{
        padding: 0;
    }

    .navbar .menubar{
        display: block;
    }

    .nav-links{
        position: absolute;
        top: 80px;
        right: 70px;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(4px);
        width: 20%;
        height: 55vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -100%;
        transition: all 0.9s ease;
    }
    
    .nav-links.mobile-menu{
        margin-top: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.2rem;
    }
    
    p{
        position: absolute;
        top: 55px;
        right: 100px;
        color: white;
    }
}

@media screen and (max-width: 320px) {
    header{
        height: 100vh;
        background-image: url("../img/pexels-ruvim-miksanskiy-1438761.jpg");
        background-repeat: no-repeat;
    }

    .navbar .logo{
        font-size: 1.7rem;
        position: absolute;
        top: 45px;
        left: 30px;
    }

    .navbar{
        padding: 0;
    }

    .navbar .menubar{
        display: block;
        padding-left: 50px;
    }

    .nav-links{
        position: absolute;
        top: 80px;
        right: 35px;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(4px);
        width: 30%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -150%;
        transition: all 0.9s ease-out;
    }
    
    .nav-links.mobile-menu{
        margin-top: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 15px 0;
        font-size: 1rem;
    }
    
    p{
        position: absolute;
        top: 55px;
        right: 100px;
        color: white;
    }
}
